DATABASE_URL="mysql://root:@localhost:3306/watch_store"
DIRECT_URL="mysql://root:@localhost:3306/watch_store"
AUTH_SECRET="a2d1b7e9c4f8g0h3i6j2k5l9m1n4o7p0q3r6s9t2u5v8w1x4y7z0"
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

ADMIN_SEED_PASSWORD="ChangeThisAdminPassword"
CUSTOMER_SEED_PASSWORD="ChangeThisCustomerPassword"

STRIPE_SECRET_KEY="sk_test_..."
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_..."
PAYSTACK_SECRET_KEY="sk_test_..."
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY="pk_test_..."
FLUTTERWAVE_SECRET_KEY="FLWSECK_TEST-..."
NEXT_PUBLIC_FLUTTERWAVE_PUBLIC_KEY="FLWPUB_TEST-..."

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

IMAGE_STORAGE_DRIVER=local

